.form-page{

    height: 30.25rem;
    left: 50%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -60%);
    top: 50%;
    width: 56.5rem;
    display: flex;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    z-index: -10;
    
}